

header {
    font-size: 25px;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;   
    padding: 10px;
}


main {
    text-align: center;
}

footer {
    text-align: center;
}